<h1><%= @restaurant.name.capitalize %></h1>
<% @items.each do |item| %>
	<%= item.name %>
	<%= item.category %>
	<%= item.type_of_dish %>
		<% if current_user.cart.cart_items.select{|obj| obj.restaurant_item_id == (@restaurant.restaurant_items.select{|obj1| obj1.item_id == item.id}).first.id }.empty? %>
			<%= form_tag cart_items_path, method: :post do %>
				No of Item <%= text_field_tag :num_of_item %>
				<%= hidden_field_tag 'item_id',  "#{item.id}" %>
				<%= hidden_field_tag 'restaurant_id', "#{@restaurant.id}" %>
				<%= button_tag "Add", id: "button" %>
			<% end %>
		<% else %>
			<br />
			Quantity:<%= current_user.cart.cart_items.select{|obj| obj.restaurant_item_id == (@restaurant.restaurant_items.select{|obj1| obj1.item_id == item.id}).first.id }.first.num_of_item %>
			<%= button_to 'Remove Item',cart_item_path(@restaurant,item), method: :delete %>
		<% end %>
	<br />
<% end %> 
<script>
	$(document).ready(function() {
		$("#button").click(function(){
	  debugger
	    var restaurant_id = $('#restaurant_id').val();
	    var item_id = $('#item_id').val();
	    var num_of_item = $('#num_of_item').val();
		  $.ajax({
		   	url: '/cart_items',
		    type: "POST",
		    data: {restaurant_id: restaurant_id, item_id: item_id, num_of_item: num_of_item},
		    success: function(data) {
		      alert('successfully');
		     }
		   });
	  });
	});
</script>
