
<h2>Order History</h2>
<h3>
	<%= Restaurant.find(@current_order.restaurant_id).name %>
</h3>
<% @items.each do |item|%>
	Name:<%= item.name%><br/>
	Category:<%= item.category%><br/>
	Type:<%= item.type_of_dish%><br/>
	<br/>
<% end %>
<h3>
		Status:<%= @current_order.status %>	
</h3>