<% @cart_items.each do |cart_item|%>
  <% restaurent_item = RestaurantItem.find(cart_item.restaurant_item_id)%>
  <h3>
    Restaurant:<%= Restaurant.find(restaurent_item.restaurant_id).name%>
  </h3>
  <h4>
    <% item = Item.find(restaurent_item.item_id) %>
    Name:<%= item.name%><br/>
    Category:<%= item.category %><br/>
    Type:<%= item.type_of_dish %><br/>
    price:<%= restaurent_item.price %><br/>
    <%# binding.pry  %>
    <%= form_tag cart_path(current_user),method: :patch do |item| %>
      Quantity:<%= text_field_tag "item", "#{cart_item.num_of_item}"%>
      <%= hidden_field_tag "cart_item_id", "#{cart_item.id}"%>
      <%= submit_tag "Make Change" %>
    <% end %>
  </h4>
<% end %>