<h1><%= @restaurant.name.capitalize %></h1>
<% @items.each do |item| %>
	<%= item.name %>
	<%= item.category %>
	<%= item.type_of_dish %>
		<%# binding.pry %>
	<% if current_user.roles.first.user_type == "admin" %>
		<%= link_to 'edit', edit_item_path(item) %>
	<% elsif current_user.roles.first.user_type == "restaurant" %>
		<% if @restaurant.restaurant_items.select{|obj| obj.item_id == item.id }.empty?%>
			<%= form_tag restaurant_items_path(@restaurant), method: :post do %>
				Price <%= text_field_tag :price %>
				<%= hidden_field_tag 'item',  "#{item.id}" %>
				<%= hidden_field_tag 'restaurant_id', "#{@restaurant.id}" %>
				<%= button_tag "Add to menu", id: "button" %>
			<% end %>
		<% else %>
			<%= button_to 'Remove Item',restaurant_item_path(@restaurant,item), method: :delete %>
		<% end %>
	<% end %><br />
<% end %> 
	<%= link_to 'Add Items', new_item_path %>
<script>
	$(document).ready(function() {
		$("#button").click(function(){
	  debugger
	    var price = $('#price').val();
	    var item_id = $('#item_id').val();
	    var restaurant  = $('#restaurant').val();
		  $.ajax({
		   	url: '/restaurants/'+ restaurant +'/restaurant_items',
		    type: "POST",
		    data: {},
		    success: function(data) {
		      alert('successfully');
		     }
		   });
	  });
	});
</script>
